examples/mvn/odds/shelley-godwin-master.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../derivatives/brown_odds.rnc" type="application/relax-ng-compact-syntax"?>
<?xml-model href="../derivatives/brown_odds.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:ge="http://www.tei-c.org/ns/geneticEditions">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Shelley Godwin Archive Customization</title>
        <author>Trevor Muñoz</author>
      </titleStmt>
      <publicationStmt>
        <distributor>Shelley Godwin Archive (via website)</distributor>
        <address>
          <addrLine>mith@umd.edu</addrLine>
        </address>
        <date when="2011-10-17">October 17, 2011</date>
        <availability status="restricted">
          <p>This work is copyright Trevor Muñoz and Maryland Institute for Technology in the
            Humanities and licensed under a <ref
              target="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0
              Unported License</ref>.</p>
        </availability>
        <pubPlace>College Park, MD USA</pubPlace>
      </publicationStmt>
      <sourceDesc>
        <p>Based on <name type="file">geneticTEI.xml</name>, which can be found <ref
            target="http://tei.svn.sourceforge.net/viewvc/tei/trunk/P5/">Sourceforge</ref>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="tmunoz" when="2011-10-16">First draft</change>
      <change who="tmunoz" when="2011-11-14">Temporarily removing Genetic Editions stuff</change>
      <change who="tmunoz" when="2011-11-21">Making additional header elements required</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Rationale</head>
        <p>To be added</p>
      </div>
      <div>
        <head>Shelley Godwin ODD</head>
        <p>The prefix in this schema stands for <expan>Shelley Godwin Archive</expan>, the project
          for which this customization was developed.</p>
        <schemaSpec ident="shelley_godwin_odd" prefix="sga_" start="TEI">

          <!-- Required modules -->
          <moduleRef key="tei"/>
          <moduleRef key="core"
            except="analytic biblStruct binaryObject headItem headLabel label listBibl measure measureGrp meeting monogr postBox postCode series teiCorpus"/>
          <moduleRef key="header" except="biblFull samplingDecl stdVals"/>
          <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
          <moduleRef key="transcr"/>

          <!-- Additional elements -->
          <elementRef key="persName"/>
          <elementRef key="placeName"/>
          
          <!-- class-level alterations; generally wholesale deletions or additions -->
          <classSpec  type="model" ident="model.divGenLike" module="tei" mode="delete"/>
          <classSpec  type="model" ident="model.div1Like" module="tei" mode="delete"/>

          <!-- Modifications to the content model of  teiHeader:
	           * encodingDesc and revisionDesc now required -->
          <elementSpec ident="teiHeader" module="header" mode="change">
            <content>
              <rng:ref name="fileDesc"/>
              <rng:ref name="encodingDesc"/>
              <rng:zeroOrMore>
                <rng:ref name="profileDesc"/>
              </rng:zeroOrMore>
              <rng:ref name="revisionDesc"/>
            </content>
          </elementSpec>

          <!-- Modifications to fileDesc:
                    * editionStmt, seriesStmt are now required
                    * notesStmt has been removed -->
          <elementSpec ident="fileDesc" module="header" mode="change">
            <content>
              <rng:group>
                <rng:ref name="titleStmt"/>
                <rng:ref name="editionStmt"/><!-- TODO: modify the content model of editionStmt -->
                <rng:optional>
                  <rng:ref name="extent"/>
                </rng:optional>
                <rng:ref name="publicationStmt"/>
                <rng:ref name="seriesStmt"/><!-- TODO: modify the content model of seriesStmt -->
              </rng:group>
              <rng:oneOrMore>
                <rng:ref name="sourceDesc"/>
              </rng:oneOrMore>
            </content>
          </elementSpec>
          
          <elementSpec ident="editionStmt" module="header" mode="change"></elementSpec>
          
          <!-- Require use of specialized elements rather than free text in edition description; eliminate biblScope in favor of idno for series -->
          <elementSpec ident="seriesStmt" module="core" mode="change">
            <content>
              <rng:group>
                <rng:oneOrMore>
                  <rng:ref name="title"/>
                </rng:oneOrMore>
                <rng:zeroOrMore>
                  <rng:choice>
                    <rng:ref name="editor"/>
                    <rng:ref name="respStmt"/>
                  </rng:choice>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:ref name="idno"/>
                </rng:zeroOrMore>
              </rng:group>
            </content>
          </elementSpec>

          <!-- for the moment, only simple paragraph description is accepted in encoding description -->
          <elementSpec ident="encodingDesc" module="header" mode="change">
            <content>
              <rng:oneOrMore>
                <rng:ref name="model.pLike"/>
              </rng:oneOrMore>
            </content>
          </elementSpec>
          
          <!-- Miscellaneous element changes; this section will be re-organized later -->
          <elementSpec ident="title" module="core" mode="change">
            <attList>
              <attDef ident="level" mode="change" usage="mwa"/>
            </attList>  
          </elementSpec>

        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
